.checkbox {
  margin-right: .75rem;
	margin-bottom: .8125rem;
	overflow: hidden;
	position: relative;
  top: .375rem;
}

  .checkbox--inline-block {
    display: inline-block;
  }

	.checkbox input[type="checkbox"] {
		opacity: 0;
		position: absolute;
	}

		.checkbox input[type="checkbox"] + label {
			cursor: pointer;
			padding-left: 1.5rem;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

			.checkbox input[type="checkbox"] + label:before {
				background: #FFF;
				border: 2px solid #666;
				border-radius: 2px;
				display: block;
				content: '';
				height: 22px;
				width: 22px;
				margin: top;
				position: absolute;
				top: 2px;
				left: 0;
				transition: all 300ms ease;
			}

			.checkbox input[type="checkbox"] + label:after {
				display: block;
				content: "";
				height: 14px;
				width: 7px;
				opacity: 0;
				position: absolute;
				top: 4px;
				left: 7px;
				-webkit-transform: rotate(45deg);
				transform: rotate(45deg);
				transition: opacity 300ms ease;
				transition-delay: 100ms;
			}

		.checkbox input[type="checkbox"]:focus + label:before {
			box-shadow: 0 0 5px #5CB85C;
		}

		.checkbox input[type="checkbox"]:checked + label:before {
			background: #5CB85C;
			border-color: #5CB85C;
		}

		.checkbox input[type="checkbox"]:checked + label:after {
			border-right: 2px solid #FFF;
			border-bottom: 2px solid #FFF;
			opacity: 1;
		}

		.checkbox input[type="checkbox"][disabled] + label {
			color: #CCC;
		}

		.checkbox input[type="checkbox"][disabled] + label:before {
			border-color: #CCC;
		}

			.checkbox input[type="checkbox"][disabled]:checked + label:before {
				background: #CCC;
			}
