.bg--blue {
  background-color: #2196F3;
}

.text--blue {
  color: #2196F3;
}

.bg--blue-light {
  background-color: #E3F2FD;
}

.text--blue-light  {
  color: #E3F2FD;
}

.bg--blue-dark {
  background-color: #0D47A1;
}

.text--blue-dark  {
  color: #0D47A1;
}
