table {
  border: 1px solid #CCC;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  padding: 0;
  width: 100%;
}

tr {
  border-bottom: 1px solid #DDD;
  padding: .25rem;
}

  tr:last-child {
    border-bottom: none;
  }

th {
  border-bottom: 1px solid #DDD;
  font-size: .8125rem;
  letter-spacing: .0625rem;
  text-transform: uppercase;
}

td {
  font-size: 1rem;
}

  td, th {
    padding: .75rem;
    text-align: left;
  }

caption {
  caption-side: bottom;
}
