.left {
	float: left;
}

.center {
	float: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.right {
	float: right;
}

.middle {
	position: relative;
}

	.middle .middle__inner {
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%);
		transform: translate(-50%);
	}

.vertical-middle {
	position: relative;
}

	.vertical-middle .vertical-middle__inner {
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
    		transform: translateY(-50%);
	}
