/* --------------------------------- */
/*           Tablet screen           */
/* --------------------------------- */
@media screen and (min-width: 768px) {

  [class*=block-grid-] > .col:nth-of-type(n) {
    clear: none;
  }

  .md-block-grid-2 > .col:nth-of-type(2n+1),
  .md-block-grid-3 > .col:nth-of-type(3n+1),
  [class*=block-grid-]::after {
    clear: both;
  }

  .md-block-grid-2 > .col {
    width: 50%;
  }

  .md-block-grid-3 > .col {
  	width: 33.333%;
  }

}
