[class*=block-grid-] {
	display: block;
	padding: 0;
	margin: 0;
}

  [class*=block-grid-]::after,
  [class*=block-grid-]::before {
  	content: " ";
  	display: table;
  }

  [class*=block-grid-] > .col {
  	display: block;
  	height: auto;
  	float: left;
    margin: 0;
  	padding: 0 .9375em .9375em;
  }

  [class*=block-grid-] > .col:nth-of-type(n) {
  	clear: none;
  }
