/* --------------------------------- */
/*          Desktop screen           */
/* --------------------------------- */
@media screen and (min-width: 1280px) {

	.lg-20 {
		width: 20%;
	}

	.lg-25 {
		width: 25%;
	}

	.lg-30 {
		width: 30%;
	}

	.lg-33 {
		width: 33.3333%;
	}

	.lg-40 {
		width: 40%;
	}

	.lg-50 {
		width: 50%;
	}

	.lg-60 {
		width: 60%;
	}

	.lg-66 {
		width: 66.6666%;
	}

	.lg-70 {
		width: 70%;
	}

	.lg-80 {
		width: 80%;
	}

	.lg-100 {
		width: 100%;
	}

}
