table {
  border: 1px solid #CCC;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  padding: 0;
  width: 100%;
}

tr {
  border: 1px solid #DDD;
  padding: .25rem;
}

th {
  font-size: .8125rem;
  letter-spacing: .0625rem;
  text-transform: uppercase;
}

td {
  border-bottom: 1px dotted #CCC;
  border-bottom: none;
  font-size: 1rem;
}

  td, th {
    padding: .75rem;
    text-align: left;
  }

  td:last-child {
    border-bottom: 0;
  }

caption {
  caption-side: bottom;
}
