.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu__item {
  border-top: 1px solid rgba(255, 255, 255, .1);
}

  .menu__item:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, .1);
  }

.menu__link {
  display: block;
  opacity: 1;
  padding: .75em;
  text-decoration: none;
  transition: opacity 250ms ease-in-out;
}

  .menu__link:focus, .menu__link:hover {
    opacity: .5;
    transition: opacity 250ms ease-in-out;
  }

.menu-toggle {
  position: fixed;
  z-index: 101;
}

.menu-toggle--top-left {
  top: 1em;
  left: 1em;
}

.menu-toggle--top-right {
  top: 1em;
  right: 1em;
}

/* --------------------------------- */
/*           Desktop screen          */
/* --------------------------------- */
@media screen and (min-width: 1280px) {

  .menu__link {
    padding: 1em;
  }

  .menu-toggle {
    display: none;
  }

}
