.button--small {
  font-size: .625rem;
}

.button--large {
  font-size: 1.625rem;
}

.button--expanded {
  width: 100%;
}

.button--clean {
  background-color: transparent;
  border-color: transparent;
  color: inherit;
}

.button--outlined,
.button--dashed {
  background-color: transparent;
  border: 1px solid #2BA6CB;;
  color: #2BA6CB;
}

.button--dashed {
  border-style: dashed;
}
